

.scroll_word{
	margin-top:150px;
	margin-left:50px;
	width:500px;
	height:400px;
	border:2px solid red;
	float:left;
}


.link_love{
	margin-top:150px;
	margin-left:50px;
	width:500px;
	height:400px;
	border:2px solid red;
	float:left;
}

.kiss{
	margin-top:150px;
	margin-left:50px;
	width:500px;
	height:400px;
	border:2px solid red;
	float:left;
}